@using System.IO;
@{
    var isPagejs = false;
    var path = $"/{ControllerName}/{ActionName}";
    if (File.Exists(Server.MapPath($"~/Scripts/Views{path}.js")))
    {
        isPagejs = true;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
</head>
<body>
    <div id="v-app" v-cloak>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
    <script>
        var pageUrl = "/@ControllerName/@ActionName";
        var usePageJs = '@isPagejs' == 'True';
    </script>
    <script src="~/Scripts/Lib/require.js" data-main="/Scripts/AppScript/main.js"></script>
</body>
</html>
